body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background-color: #2c2c2c;
}

#titleBox {
  text-align: center;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

#mainTitle {
  font-size: 110px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 255);
}

.lightboxBack {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);;
}

.sidebar {
  display: flexbox;
  float: left;
  align-content: center;
  color: white;
  width: 20%;
  height: 100%;
  margin: auto;
  background-color: #242424;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar > button {
  transition-duration: 0.25s;
  width: 100%;
  background-color: #242424;
  text-align: left;
  color: white;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  border: 0px;
  font-size: x-large;
  padding-left: 2rem;
}

.sidebar > button.active {
  transition-duration: 0.25s;
  width: 100%;
  background-color: #1b1b1b;
  text-align: left;
  color: white;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  border: 0px;
  font-size: x-large;
}

.sidebar > button:hover {
  transition-duration: 0.25s;
  background-color: #1b1b1b;
  cursor: pointer;
}

.sidebar > button#logoutbutton:hover {
  transition-duration: 0.25s;
  background-color: #1b1b1b;
  color: lightcoral;
}

.sidebar > button#stupidbutton {
  top: 0%;
}
.sidebar > button#stupidbutton:hover {
  transition-duration: 0.25s;
  background-color: #242424;
}

#logoutLightbox > button {
  transition-duration: 0.25s;
  background-color: #242424;
  text-align: center;
  color: white;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  border: 0px;
  border-radius: 5px;
  padding: 1rem;
  font-size: x-large;
  cursor: pointer;
}

#logoutLightbox > button:hover {
  transition-duration: 0.25s;
  background-color: #1b1b1b;
}

#logoutLightbox > button#logout:hover {
  transition-duration: 0.25s;
  background-color: #1b1b1b;
  color: lightcoral;
}

.mainArea {
  display: flexbox;
  float: left;
  align-content: center;
  color: white;
  height: 100%;
  margin: auto;
  background-color: #2c2c2c;
  padding: 2rem;
}

.lightbox {
  display: none;
  color: white;
  text-align: center;
  max-width: 600px;
  margin: auto;
  background-color: #2c2c2c;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 255);
}

.authform > :not(.formButton, .linebreak) {
  text-align: left;
}

.authform > input {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: medium;
  width: 100%;
}

.formButton {
  transition-duration: 0.25s;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  background-color: #2c2c2c;
  border: 0px;
}

.formButton:hover {
  transition-duration: 0.25s;
  font-size: x-large;
  cursor: pointer;
}

.largeFormButton {
  transition-duration: 0.25s;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: white;
  background-color: #2c2c2c;
  border: 0px;
}

.largeFormButton:hover {
  transition-duration: 0.25s;
  font-size: xx-large;
  cursor: pointer;
}

.linebreak:before, .linebreak:after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #ffffff;
    margin: auto;
}